@using resx = LS.Resources.About.ResourcesAbout;
@using resx1 = LS.Resources.Resources;
@using LS.Web.Models
@using LS.Utility

@model TeacherResearchWorkViewModels

@{
    ViewBag.Title = "ResearchWorks";
}

<div class="page-banner" style="padding:40px 0; background: url(~/Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@resx.ResearchWorks</h2>
                <p>@resx1.IAm @resx1.DR @resx1.TranThiThanhDieu</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">@resx1.Introduction</a></li>
                    <li>@resx.ResearchWorks</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="page-content" style="background-color: #ffffff">
            <div class="row">
                <div class="col-md-12 big-title">
                    <h1 class="title-research accent-color">@resx.ResearchProjects</h1>
                    @foreach (var item in Model.TRReseachProjectsVM)
                    {
                        <table class="table table-borderless table-research">
                            <thead>
                                <tr>
                                    <td class="first-td">@item.Time</td>
                                    <td>@(Html.Raw(item.Title))</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Level</td>
                                    <td>@item.Level</td>
                                </tr>
                                <tr>
                                    <td>Project leader or member</td>
                                    <td>@(Html.Raw(item.Member))</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="hr1" style="margin-bottom:50px;"></div>
        <div class="page-content" style="background-color: #ffffff">
            <div class="row">
                <div class="col-md-12 big-title">
                    <h1 class="title-research accent-color" style="border-bottom: none;">@resx.Books</h1>
                    @foreach (var item in Model.TRBookVM)
                    {
                        <div class="col-md-6 flag-box single-book-box">
                            <div class="single-book-title">
                                <div class="single-title-container">
                                    @(Html.Raw(item.Title))
                                </div>
                                <div class="single-book-date">
                                    @item.Time
                                </div>
                            </div>
                            <div class="single-book-content">
                                @(Html.Raw(item.Description))
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="hr1" style="margin-bottom:50px;"></div>
        <div class="page-content" style="background-color: #ffffff">
            <div class="row">
                <div class="col-md-12 big-title">
                    <h1 class="title-research accent-color">@resx.JournalArticles</h1>
                    <div id="divListPosts">
                        @foreach (var item in Model.TRJournalArticlesVM)
                        {
                            if (item.Type == Constants.ResearchWork.JournalArticles)
                            {
                                <table class="table table-borderless table-research">
                                    <thead>
                                        <tr>
                                            <td class="first-td">@item.Time</td>
                                            <td>@item.Title</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Glossary school magazine and Encyclopedia </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>ISSN 1859-3135</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Number 3 (17) May 5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                </div>
                @if (Model.TotalNews > 4)
                {
                    <ul id="NewsPagination" class="pagination accent-color" style="float:right">
                        <li><a href="javascript:void(0);" onclick="goBack();"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0);">1</a></li>
                        <li><a href="javascript:void(0);" onclick="goNext()"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                }
            </div>
        </div>
        <div class="hr1" style="margin-bottom:50px;"></div>
        <div class="page-content" style="background-color: #ffffff">
            <div class="row">
                <div class="col-md-12 big-title">
                    <h1 class="title-research accent-color">@resx.ConferenceProceedings</h1>
                    @foreach (var item in Model.TRBookVM)
                    {
                        <table class="table table-borderless table-research">
                            <thead>
                                <tr>
                                    <td class="first-td">@item.Time</td>
                                    <td>@(Html.Raw(item.Title))</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>@(Html.Raw(item.Description))</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script id="scriptJournalArticles" type="text/x-jquery-tmpl">
    <table class="table table-borderless table-research">
        <thead>
            <tr>
                <td class="first-td">${Time}</td>
                <td>${Title}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>Glossary school magazine and Encyclopedia </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>ISSN 1859-3135</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Number 3 (17) May 5</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/javascript">

    var pageSize1 = 4;

    function goBack() {
        var curPage = parseInt($("#NewsPagination li:eq(1) a").html());
        if (curPage > 1) {
            getDataNewsPage(curPage - 1);
        }
    }

    function goNext() {
        var curPage = parseInt($("#NewsPagination li:eq(1) a").html());
        if (curPage >= 1) {
            getDataNewsPage(curPage + 1);
        }
    }

    function getDataNewsPage(page) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getDataNewsPage", "About")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                page: page,
                type: "JournalArticles"
            }),
            success: function (data) {
                if (data.status == 1) {
                    $("#divListPosts").empty();
                    $("#scriptJournalArticles").tmpl(data.data).appendTo("#divListPosts");
                    $("#NewsPagination li:eq(1) a").html(page);

                    var lastPage = 1;

                    if (data.TotalRecord % pageSize1 == 0) {
                        lastPage = Math.floor(data.TotalRecord / pageSize1);
                    }
                    else {
                        lastPage = Math.floor(data.TotalRecord / pageSize1) + 1;
                    }
                    if (page == 1) {
                        $("#NewsPagination li:eq(0) a").removeAttr("onclick");
                        $("#NewsPagination li:eq(2) a").attr("onclick", "goNext()");
                    }
                    else if (page == lastPage) {
                        $("#NewsPagination li:eq(2) a").removeAttr("onclick");
                        $("#NewsPagination li:eq(0) a").attr("onclick", "goBack()");
                    }
                    else {
                        $("#NewsPagination li:eq(2) a").attr("onclick", "goNext()");
                        $("#NewsPagination li:eq(0) a").attr("onclick", "goBack()");
                    }
                }
                else {
                    alert(data.sErr);
                }
            },
            async: false,
        });
    }

</script>