@using resx = LS.Resources.About.ResourcesAbout;
@using resx1 = LS.Resources.Resources;

@{
    ViewBag.Title = "Schedule";
}

<div class="page-banner" style="padding:40px 0; background: url(~/Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@resx.Schedule</h2>
                <p>@resx1.IAm @resx1.DR @resx1.TranThiThanhDieu</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">@resx1.Introduction</a></li>
                    <li>@resx.Schedule</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="content">
        <div class="container">
            <div class="row sidebar-page">
                <!-- Page Content -->
                <div class="col-md-9 page-content">
                    <!-- Start Recent Posts Carousel -->
                    <div class="latest-posts" id="ussh">
                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>@resx.HCM</span></h4>
                        <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">
                            <!-- Post 1 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Linguistics</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 2 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">English Phonetics and Phonology</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 3 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Morphology – Syntax</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 4 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Semantics</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 5 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Discourse Analysis</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Posts Carousel -->
                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:30px;"></div>
                    <div class="latest-posts" id="huc">
                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Ho Chi Minh University Of Culture</span></h4>
                        <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">
                            <!-- Post 1 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Linguistics</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 2 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">English Phonetics and Phonology</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>

                            <!-- Post 3 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Morphology – Syntax</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 4 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Semantics</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                            <!-- Post 5 -->
                            <div class="post-row item">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Discourse Analysis</a></h3>
                                <div class="post-content">
                                    <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                    <p><span>Status:</span> Thursday Weekly</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:30px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Classic Heading -->
                            <h4 class="classic-title" id="hutech"><span>HUTECH</span></h4>
                            <div class="latest-posts-classic">
                                <!-- Post 1 -->
                                <div class="post-row">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <h3 class="post-title"><a href="#">Linguistics</a></h3>
                                    <div class="post-content">
                                        <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                        <p><span>Status:</span> Thursday Weekly</p>
                                    </div>
                                </div>
                                <!-- Post 2 -->
                                <div class="post-row">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <h3 class="post-title"><a href="#">English Phonetics and Phonology</a></h3>
                                    <div class="post-content">
                                        <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                        <p><span>Status:</span> Thursday Weekly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Classic Heading -->
                            <h4 class="classic-title"><span>&nbsp;</span></h4>
                            <div class="latest-posts-classic">
                                <!-- Post 1 -->
                                <div class="post-row">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <h3 class="post-title"><a href="#">Morphology – Syntax</a></h3>
                                    <div class="post-content">
                                        <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                        <p><span>Status:</span> Thursday Weekly</p>
                                    </div>
                                </div>
                                <!-- Post 2 -->
                                <div class="post-row">
                                    <div class="left-meta-post">
                                        <div class="post-date"><span class="day">Tu</span><span class="month">2016</span></div>
                                        <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                    <h3 class="post-title"><a href="#">Discourse Analysis</a></h3>
                                    <div class="post-content">
                                        <p><span>Time:</span> Start on 15 Dec, 2016</p>
                                        <p><span>Status:</span> Thursday Weekly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Page Content-->
                <!--Sidebar-->
                <div class="col-md-3 sidebar right-sidebar">
                    <!-- Categories Widget -->
                    <div class="widget widget-categories">
                        <h4 class="accent-color">@resx.Categories <span class="head-line"></span></h4>
                        <ul>
                            <li>
                                <a href="#ussh" title="Ho Chi Minh University of Social Sciences and Humantities">USSH</a>
                            </li>
                            <li>
                                <a href="#huc" title="Ho Chi Minh University Of Culture">HUC</a>
                            </li>
                            <li>
                                <a href="#hutech" title="Ho Chi Minh University Of Technology">HUTECH</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Video Widget -->
                    <div class="widget">
                        <h4 class="accent-color">@resx.Video <span class="head-line"></span></h4>
                        <div>
                            <iframe src="http://player.vimeo.com/video/63322694?byline=0&amp;portrait=0&amp;badge=0" width="800" height="450"></iframe>
                        </div>
                    </div>
                    <!-- Tags Widget -->
                    <div class="widget widget-tags">
                        <h4 class="accent-color">@resx.Tags <span class="head-line"></span></h4>
                        <div class="tagcloud">
                            <a href="#">Linguistics</a>
                            <a href="#">English Phonetics and Phonology</a>
                            <a href="#">Morphology – Syntax</a>
                            <a href="#">Semantics</a>
                            <a href="#">Discourse Analysis</a>
                            <a href="#">Linguistics PG</a>
                            <a href="#">Second Language Acquisition PG</a>
                            <a href="#">English Phonetics and Phonology PG</a>
                            <a href="#">Morphology – Syntax PG</a>
                            <a href="#">Semantics P</a>
                            <a href="#">Pragmatics PG</a>
                            <a href="#">Discourse Analysis PG</a>
                        </div>
                    </div>
                </div>
                <!--End sidebar-->
            </div>
        </div>
    </div>
</div>