@using resx = LS.Resources.About.ResourcesAbout;
@using resx1 = LS.Resources.Resources;

@{
    ViewBag.Title = "Teaching";
}

<div class="page-banner" style="padding:40px 0; background: url(~/Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@resx.Teaching</h2>
                <p>@resx1.IAm @resx1.DR @resx1.TranThiThanhDieu</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">@resx1.Introduction</a></li>
                    <li>@resx.Teaching</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12 big-title">
                    <h1 class="text-center accent-color"><strong>@resx.Undergraduate</strong></h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-briefcase"></i>
                                <h2><strong><b>Linguistics</b></strong></h2>
                                <p>
                                    <strong>Linguistics</strong> is the scientific study of language, specifically of language form,
                                    language meaning, and language in context. The earliest activities in the description of language have
                                    been attributed to the 4th century BCE Indian grammarian <a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Pāṇini</a>,
                                    who was an early student of linguistics and wrote a formal description of the Sanskrit
                                    language in his <a href="https://en.wikipedia.org/wiki/Linguistics#cite_note-6">Aṣṭādhyāyī</a>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-briefcase"></i>
                                <h2><strong><b>English Phonetics and Phonology</b></strong></h2>
                                <p>
                                    <strong>Phonetics</strong> - A theory about speech sounds, describing the sounds that we use in speaking
                                    <br />
                                    <strong>Phonology</strong> - Explains how phonemes function in language, the relationships among different phonemes
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-briefcase"></i>
                                <h2><strong><b>Morphology – Syntax</b></strong></h2>
                                <p>
                                    The term <strong>grammar</strong> is often used to refer to morphology (the study of word forms) and
                                    syntax (the study of sentence structure) together. Languages can be classified according
                                    to the grammatical principles which hold for them. Such classification is the subject of
                                    typology which is concerned with synchronic structure and not with genetic grouping.
                                    A language may change its type over time as has happened with English which in the Old
                                    English period was a synthetic language with many inflections and now is a rather
                                    analytic language with few grammatical endings.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-briefcase"></i>
                                <h2><strong><b>Semantics</b></strong></h2>
                                <p>
                                    <strong>Semantics</strong>  is primarily the linguistic, and also philosophical study of
                                    meaning—in language, programming languages, formal logics, and semiotics.
                                    It focuses on the relationship between signifiers—like words, phrases,
                                    signs, and symbols—and what they stand for, their denotation.
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-briefcase"></i>
                                <h2><strong><b>Discourse Analysis</b></strong></h2>
                                <p>
                                    <strong>Discourse</strong> analysis (DA), or discourse studies, is a general term for a number of
                                    approaches to analyze written, vocal, or sign language use, or any
                                    significant semiotic event.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 big-title" style="background-color:#f9f9f9">
                    <h1 class="text-center accent-color"><strong>@resx.Postgraduate </strong></h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Linguistics PG</b></strong></h2>
                                <p>
                                    <strong>Linguistics</strong> is the scientific study of language, specifically of language form,
                                    language meaning, and language in context. The earliest activities in the description of language have
                                    been attributed to the 4th century BCE Indian grammarian <a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Pāṇini</a>,
                                    who was an early student of linguistics and wrote a formal description of the Sanskrit
                                    language in his <a href="https://en.wikipedia.org/wiki/Linguistics#cite_note-6">Aṣṭādhyāyī</a>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Second Language Acquisition PG</b></strong></h2>
                                <p>
                                    <strong>Phonetics</strong> - A theory about speech sounds, describing the sounds that we use in speaking
                                    <br />
                                    <strong>Phonology</strong> - Explains how phonemes function in language, the relationships among different phonemes
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>English Phonetics and Phonology PG</b></strong></h2>
                                <p>
                                    <strong>Linguistics</strong> is the scientific study of language, specifically of language form,
                                    language meaning, and language in context. The earliest activities in the description of language have
                                    been attributed to the 4th century BCE Indian grammarian <a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Pāṇini</a>,
                                    who was an early student of linguistics and wrote a formal description of the Sanskrit
                                    language in his <a href="https://en.wikipedia.org/wiki/Linguistics#cite_note-6">Aṣṭādhyāyī</a>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Morphology – Syntax PG</b></strong></h2>
                                <p>
                                    <strong>Phonetics</strong> - A theory about speech sounds, describing the sounds that we use in speaking
                                    <br />
                                    <strong>Phonology</strong> - Explains how phonemes function in language, the relationships among different phonemes
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Semantics P</b></strong></h2>
                                <p>
                                    <strong>Linguistics</strong> is the scientific study of language, specifically of language form,
                                    language meaning, and language in context. The earliest activities in the description of language have
                                    been attributed to the 4th century BCE Indian grammarian <a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Pāṇini</a>,
                                    who was an early student of linguistics and wrote a formal description of the Sanskrit
                                    language in his <a href="https://en.wikipedia.org/wiki/Linguistics#cite_note-6">Aṣṭādhyāyī</a>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Pragmatics PG</b></strong></h2>
                                <p>
                                    Syntax, Semantics and <strong>Pragmatics</strong>.  Syntax: Study of the relation between
                                    linguistic forms, how they are arranged in sequence, and which sequences
                                    are well...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-teaching">
                                <i class="fa fa-book"></i>
                                <h2><strong><b>Discourse Analysis PG</b></strong></h2>
                                <p>
                                    <strong>Linguistics</strong> is the scientific study of language, specifically of language form,
                                    language meaning, and language in context. The earliest activities in the description of language have
                                    been attributed to the 4th century BCE Indian grammarian <a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Pāṇini</a>,
                                    who was an early student of linguistics and wrote a formal description of the Sanskrit
                                    language in his <a href="https://en.wikipedia.org/wiki/Linguistics#cite_note-6">Aṣṭādhyāyī</a>.
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>