@using LS.Web.Models;
@using LS.Utility;

@model HomeViewModels

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
    var link = ViewBag as LinksViewModel;
}

@section scripts{
    <script src="~/Scripts/admin/plugins/twbs-pagination/jquery.twbsPagination.min.js"></script>
}

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Quản Lý Thư Viện Mở</a></li>
            <li><a href="#">Tìm Kiếm - Chỉnh Sửa</a></li>
        </ol>
        <div id="social" class="pull-right">
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-lg-9">
            <div id="search" style="width:99.6%">
                <input id="txtKeyword" type="text" placeholder="Tìm kiếm theo tiêu đề" style="background-color:white!important" />
                <i class="fa fa-search" style="top:8px;color:red!important" onclick="search()"></i>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-9" style="margin-top:15px;width:74.1%;">
            <div class="col-lg-2" style="margin-left:-12px;font-weight:bold">
                Từ ngày
            </div>
            <div class="col-lg-3">
                <input id="fromDate" class="form-control calendar" data-date-format="dd/mm/yyyy" readonly="readonly" placeholder="Từ ngày" style="cursor:pointer">
            </div>
            <div class="col-lg-2" style="font-weight:bold">
                Đến ngày
            </div>
            <div class="col-lg-3" style="margin-left:3px;">
                <input id="toDate" class="form-control calendar" data-date-format="dd/mm/yyyy" readonly="readonly" placeholder="Đến ngày" style="cursor:pointer">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9" style="margin-top:15px">
            <span id="checkDate"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <select id="txtType" class="form-control" onchange="changeType()" style="width:90%">
                <option value="Type"> -- Ngành --</option>
                @foreach (var result in Model.CommonCodeVM)
            {
                if (result.commonCodeDetailsVM.Count() != 0)
                {
                    foreach (var item in result.commonCodeDetailsVM)
                    {
                <option value="@item.CommonId">@item.Value1</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-lg-4" style="margin-top:15px;margin-bottom:-15px">
            <button type="button" class="btn btn-primary" style="width:70px;" onclick="searchLib();"><i class="fa fa-search"></i> Tìm</button>
            <button type="button" class="btn btn-success" style="width:70px;" onclick="window.location.href='@Url.Action("Create","LibraryBE")'"><i class="fa fa-plus"></i> Thêm</button>
            <button type="button" class="btn btn-danger" style="width:70px;" onclick="confirmDelete();"><i class="fa fa-minus"></i> Xóa</button>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <span id="showTotalRecord" class="help-block"></span>
        <hr />
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-search"></i>
                        <span>Thư Viện Mở - Danh Sách Tài Liệu</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content no-padding">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                        <thead>
                            <tr>
                                <th style="width:5%;">
                                    <input id="cbTotal" type="checkbox" value="checkTotalRecord" onclick="clickCb();">
                                </th>
                                <th style="width:3%;font-size: 90%">STT</th>
                                <th style="width:5%;font-size: 90%">#</th>
                                <th style="width:35%;font-size: 90%">Tên Tài Liệu </th>
                                <th style="width:10%;font-size: 90%">Người Đăng</th>
                                <th style="width:10%;font-size: 90%">Ngày Đăng</th>
                                <th style="width:15%;font-size: 90%">Loại</th>
                                <th style="width:20%;font-size: 90%">Chức Năng</th>
                            </tr>
                        </thead>
                        <!-- Start: list_row -->
                        <tbody id="tableLib"></tbody>
                        <!-- End: list_row -->
                        <tfoot>
                            <tr>
                                <th style="width:2%;"></th>
                                <th style="width:3%;font-size: 90%">STT</th>
                                <th style="width:5%;font-size: 90%">#</th>
                                <th style="width:35%;font-size: 90%">Tên Tài Liệu </th>
                                <th style="width:10%;font-size: 90%">Người Đăng</th>
                                <th style="width:10%;font-size: 90%">Ngày Đăng</th>
                                <th style="width:15%;font-size: 90%">Loại</th>
                                <th style="width:20%;font-size: 90%">Chức Năng</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="pagination" class="pagination" style="margin-left:40%">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="row">
        <div class="modal-dialog" style="float:left;">
            <div class="modal-content" style="width:882px;height:50%;margin-left:280px;">
                <div class="modal-header" style="margin-top:10px;height:75px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><span>Chỉnh Sửa</span></h1>
                    <div class="hr5" style="margin-top:45px;margin-bottom:40px;"></div>
                </div>
                <div class="modal-body">
                    <form role="form" style="margin-top:10px;">
                        <div class="box-body">
                            <div class="row" style="margin-left:30%;">
                                <a id="btnEditInfo" class="btn btn-primary" onclick="btnEditInfo()" style="display: inline-block;">
                                    Chỉnh sửa Thông Tin
                                </a>
                                <a id="btnEditFile" class="btn btn-success" onclick="btnEditFile()" style="display: inline-block;">
                                    Chỉnh sửa tệp
                                </a>
                            </div>
                            <div class="box-body" id="infoBox">
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-lg-2" style="margin-bottom: 5px; font-weight: bold;">
                                        Mã số bài viết :
                                    </div>
                                    <div class="col-lg-9">
                                        <span id="idLib"></span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-lg-2" style="margin-top: 5px; font-weight: bold;">
                                        Tiêu Đề<span style="color:red;"> *</span>:
                                    </div>
                                    <div class="col-lg-9" id="idArea">
                                        <input type="text" placeholder="Nhập Tiêu Đề" id="txtTitle" class="form-control">
                                    </div>
                                    <br><br>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
                                        Giới Thiệu<span style="color:red;"> *</span>:
                                    </div>
                                    <div class="col-lg-9">
                                        <form>
                                            <textarea id="txtBrief" rows="10" cols="80" style="visibility: hidden; display: none;"></textarea>
                                        </form>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
                                        Loại tài Liệu:
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" placeholder="" id="txtType2" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
                                        Chọn Loại: 
                                    </div>
                                    <div class="col-lg-9">
                                        <select id="txtType1" class="form-control" onchange="changeType();">
                                            @*@foreach (var result in Model.CommonCodeVM)
                                                {
                                                    if (result.commonCodeDetailsVM.Count() != 0)
                                                    {
                                                        foreach (var item in result.commonCodeDetailsVM)
                                                        {
                                                            <option value="@item.CommonId">@item.Value1</option>
                                                        }
                                                    }
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
                                        Hình Ảnh:
                                    </div>
                                    <div class="col-lg-9">
                                        <div id="beforeImage"></div>
                                        <label for="File input">Chọn : </label>
                                        <input type="file" id="txtImage" class="upload" accept="images/*" style="display: inline;">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-lg-2" style="font-weight: bold;">
                                        Trạng thái
                                    </div>
                                    <div class="col-lg-9">
                                        <select id="txtStatus" class="form-control">
                                            <option value=@Constants.Libs_Status.ActiveStatus>Hoạt động</option>
                                            <option value=@Constants.Libs_Status.InactiveStatus>Không Hoạt động</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-lg-2" style="margin-top: 5px; font-weight: bold;">
                                        Description:
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" placeholder="Nhập mô tả" id="txtDescription" class="form-control">
                                    </div>
                                    <br><br>
                                </div>
                                <div class="col-lg-2" id="divThongBao_TB" style="margin-top: 5px;">
                                    <span id="spanThongBao_TB"></span>
                                </div>
                            </div>
                            <div class="box-body" id="editFiles" style="display:none;">
                                <div id="addFile">
                                    <span id="warning"></span>
                                    <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
                                        Tài Liệu:
                                    </div>
                                    <div class="col-lg-10">
                                        <label for="File input"></label>
                                        <input type="file" id="txtAddFlie" class="upload" accept="" style="display: inline;" onchange="UploadFile();">
                                    </div>
                                </div>
                                <div class="row txtUploadFile">
                                </div>
                                <div id="idFile ">
                                    <div class="row" id="data.id ">
                                        <div class="col-xs-12" stype="margin-top: 2%">
                                            <div class="box">
                                                <div class="box-content no-padding">
                                                    <table class="table table-striped table-hover table-heading table-datatable" id="datatable-1">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:10px;font-size: 90%"> STT</th>
                                                                <th style="width:170px;font-size: 90%">Tên Tài Liệu </th>
                                                                <th style="width:120px;font-size: 90%"></th>
                                                            </tr>
                                                        </thead>
                                                        <!-- Start: list_row -->
                                                        <tbody id="tableLink"></tbody>
                                                        <!-- End: list_row -->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:5px;float:right">
                                <a id="btnSaveNews" class="btn btn-primary" onclick="editSave();" style="display: inline-block; margin-right:70px;">
                                    Lưu
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" role="dialog">
    <div class="row">
        <div class="modal-dialog" style="float:left">
            <!-- Modal content-->
            <div class="modal-content" style="margin-left:70%; width:100%; height:auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="viewTitle">
                        <div class="row">
                            <div class="col-xs-6" style="margin-top: 5px; font-weight: bold;">
                                ID: <span style="color:dodgerblue;margin-left:2%" id="idView"></span>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6" id="typeView" style="margin-top: 5px; font-weight: bold;">
                                    Loại :
                                </div>
                                <div class="col-xs-6" style="margin-top: 5px; font-weight: bold;">
                                    Trạng thái:<span style="color:dodgerblue;margin-left:2%" id="statusView"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5%">
                                <div class="col-xs-3" style="margin-top: 5px; font-weight: bold;">
                                    Tên tiêu đề
                                </div>
                                <div class="col-xs-9" style="margin-top: 5px; font-weight: bold;">
                                    <span style="color:dodgerblue;margin-left:2%" id="nameView"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3" style="margin-top: 5%; font-weight: bold;">
                                    Nội dung:
                                </div>
                                <div class="col-xs-9" style="margin-top: 5%; font-weight: bold;" id="briefView">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5%">
                                <div class="col-xs-3" style="margin-top: 5%; font-weight: bold;">
                                    Mô tả:
                                </div>
                                <div class="col-xs-9" style="color:dodgerblue;margin-top: 5%; font-weight: bold;" id="contentView">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5%">
                                <div class="col-xs-3" style="margin-top: 5%; font-weight: bold;">
                                    File Đính Kèm:
                                </div>
                                <div class="col-xs-9" style="color:dodgerblue;margin-top: 5%; font-weight: bold;" id="fliestView">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="scripFile" type="text/x-jquery-tmpl">
    <tr id="${Id}">
        <td style="width:10px;font-size: 90%">${index}</td>
        <td style="width:170px;font-size: 90%">${FileName}${FileExtension}</td>
        <td style="width:120px;font-size: 90%"><img style="width: 30px" src="/Links/Library/delete.png" onclick="deleteFile('${Id}')" /></td>
    </tr>
</script>

<script id="showFile" type="text/x-jquery-tmpl">
    <div id="view_${Id}">
        ${index1}.${FileName}${FileExtension}
    </div>
</script>

<script id="scripLib" type="text/x-jquery-tmpl">
    <tr id="rowLib_${Id}">
        <th style="width:2%;">
            <input id="cbChild_${Id}" type="checkbox" value="checkChildRecord">
        </th>
        <td style="width:3%;font-size: 90%" id="idSTT">${index}</td>
        <td style="width:5%;font-size: 90%">${Id}</td>
        <td style="width:35%;font-size: 90%">
            <div class="col-xs-3" style="width:10%">
                <div class="touch-slider project-slider">
                    <div class="item">
                        <a class="lightbox" title="${Title}" href="@UrlFiles.Library${Id}/${Images}" data-lightbox-gallery="gallery2">
                            <img src="@UrlFiles.Library${Id}/${Images}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-9" style="width:80%;font-size: 90%;margin-left: 20px">
                ${Title}
            </div>
        </td>
        <td style="width:10%;font-size: 90%">${CreatedBy}</td>
        <td style="width:10%;font-size: 90%">${CreatedDate}</td>
        <td style="width:15%;font-size: 90%">${Type}</td>
        <td style="width:20%;font-size: 90%">
            <button class="btn btn-primary btn-app-sm" id="update_${Id}" onclick="edit('${Id}',this)" type="button" style="color:blue">
                <i class="fa fa-pencil" style="color:white"></i>
            </button>
            <button type="button" class="btn btn-success btn-app-sm" name="Xem thông tin " style="margin-left:5px" id="view_${Id}" onclick="view('${Id}',this)">
                <i class="fa fa-info-circle" style="color:white"></i>
            </button>
            @*<button class="btn btn-danger btn-app-sm" style="margin-left:10px" type="button" id="${Id}" onclick="confirmDelete()">
                    <i class="fa fa-times" style="color:white"></i>
                </button>*@
        </td>
    </tr>
</script>

<script type="text/javascript">

    var _recordPerPage = 5;
    var arrId = [];
    var src = "/Scripts/js/owl.carousel.min.js";
    var currentPage = 1;
    var curList;
    var arrChecked = [];
    var count = 0;
    var uploadField = document.getElementById("txtAddFlie");

    $(function () {
        //search();
        CKEDITOR.replace('txtBrief');
        $('.calendar').datepicker({
            startDate: '-3d'
        });
        $('input[id=txtAddFlie]').change(function () {
            var fileExtension = ['rar', 'zip', 'pdf', 'doc', 'docx', 'xls', 'xlsx', 'pptx', 'txt', 'pst'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Vui lòng chọn File Tài Liệu");
                $("#txtAddFlie").val("");
                return false;
            }
            if (CheckTotalFile() == true) {
                UploadFile();
                $("#warning").hide();
            }
            else {
                $("#warning").show();
                $("#warning").removeClass();
                $("#warning").addClass("alert-danger");
                $("#warning").text("Bạn chỉ được chọn 10 hình. Để chọn thêm hình hãy xóa!");
            }
        });
    });

    function CheckTotalFile() {
        var n = $("#scripFile").length;
        if (n >= 10) {
            return false;
        }
        else {
            return true;
        }
    }

    function btnEditFile() {
        $("#tableLink").empty();
        $("#infoBox").hide();
        $("#editFiles").show();
        $("#btnSaveNews").hide();
        document.getElementById("btnEditFile").disabled = true;
        document.getElementById("btnEditInfo").disabled = false;
        var id = $("#idLib").text();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFiles", "LibraryBE")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                if (data.success) {
                    var stt = 1 ;
                    for (var i = 0; i < data.data.length; i++) {
                        data.data[i].index = stt; //
                        stt++;

                        arrId[i] = data.data[i].Id; //
                    }
                    if (data.data.length > 10) {
                        $("#txtAddFlie").hide();
                        $("#warning").show();
                        $("#warning").removeClass();
                        $("#warning").addClass("alert-danger");
                        $("#warning").text("Bạn chỉ được chọn 10 file . Để chọn thêm hãy xóa!");
                    }
                    else {
                        $("#warning").hide();
                    }
                    $("#scripFile").tmpl(data.data).appendTo("#tableLink");
                }
            },
            async: false,
        });
    }

    function btnEditInfo() {
        $("#editFiles").hide();
        $("#infoBox").show();
        $("#btnSaveNews").show();
        document.getElementById("btnEditInfo").disabled = true;
        document.getElementById("btnEditFile").disabled = false;
    }

    function changeType() {
        $("#tableLib").empty();
        var type = $("#txtType").val();
        if (type != undefined || type != null || type != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetType", "LibraryBE")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    type: type
                }),
                success: function (data) {
                    //$("#scripLib").tmpl(data.data).appendTo("#tableLib");
                    searchLib();
                },
                async: false,
            });
        }
    }

    function searchLib() {
        $('#pagination').twbsPagination('destroy');
        searchDate();
    }

    var src = "/Scripts/js/owl.carousel.min.js";

    function searchDate() {
        var ftt = $("#fromDate").datepicker("getDate");
        var ttt = $("#toDate").datepicker("getDate");

        if (ftt >= ttt && ftt != null && ttt != null) {
            $("#checkDate").show();
            $("#checkDate").removeClass();
            $("#checkDate").addClass("alert-danger");
            $("#checkDate").text("Vui lòng kiểm tra ngày chính xác!");
            return;
        }
        else {
            $("#checkDate").hide();
            search();
        }
    }

    function search() {
        $("#tableLib").empty();
        var typeLib = $("#txtType").val();
        var key = $("#txtKeyword").val();
        var ftt = $("#fromDate").datepicker("getDate");
        var ttt = $("#toDate").datepicker("getDate");
        fromDate
        var fromCount = 0;
        var type = $("#txtType").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Search", "LibraryBE")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                type: type,
                keyWord: key,
                page: pageConfig.pageIndex,
                ftt: ftt,
                ttt: ttt,
                pageSize: pageConfig.pageSize
            }),
            success: function (a) {
                if (a.success == true) {
                    var stt = (pageConfig.pageIndex - 1) * pageConfig.pageSize;
                    stt = stt + 1;
                    for (var i = 0; i < a.listKey.length; i++) {
                        a.listKey[i].index = stt; //
                        stt++;
                        arrId[i] = a.listKey[i].Id;
                    }
                    if (a.TotalRecord > 0) {
                        $("#showTotalRecord").html("Có <b>" + a.TotalRecord + "</b> kết quả tìm kiếm");
                    }
                    else {
                        $("#showTotalRecord").html("Có 0 kết quả tìm kiếm ");
                    }
                    $("#showTotalRecord").show();
                    curList = a.listKey;
                    $("#scripLib").tmpl(a.listKey).appendTo("#tableLib");
                    paging(a.TotalRecord, function () {
                        search();
                    });
                }
            },
            async: false,
        });
    }

    var pageConfig = {
        pageSize: 5, // Lines to show in a page
        pageIndex: 1 // The position that you choose
    }

    function paging(totalRow, callBack) {
        var totalPage = Math.ceil(totalRow / pageConfig.pageSize);
        $('#pagination').twbsPagination({
            totalPages: totalPage,
            first: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true" style="font-size: 12px;">&gt;</span>',
            last: '<span aria-hidden="true">&raquo;</span>',
            prev: '<span aria-hidden="true" style="font-size: 12px;">&lt;</span>',
            visiblePages: 3,// numbers of pagination
            onPageClick: function (event, page) {
                pageConfig.pageIndex = page;
                setTimeout(callBack, 200);
            }
        });
    }

    function edit(id, temp) {
        $("#txtType1").empty();
        //changeType();
        btnEditInfo();
        var obj = null;
        $(curList).each(function () {
            if (this.Id == id) {
                obj = this;
                return false;
            }
        });
        $("#img").remove();
        $("#idLib").text(obj.Id);
        $("#txtTitle").val(obj.Title);
        $("#txtDescription").val(obj.Description);
        $("#txtType2").val(obj.Type);
        var libVM = @Html.Raw(Json.Encode(@Model.CommonCodeVM));
        var item = null;
        var itemDetails = null;
        $(libVM).each(function(){
            item = this;
            if (item.commonCodeDetailsVM.length != 0)
            {
                $(item.commonCodeDetailsVM).each(function(){
                    itemDetails= this;
                    if (obj.Type == itemDetails.Value1)
                    {
                        $("<option value=" + itemDetails.CommonId + ">" + obj.Type + "</option>").appendTo("#txtType1");
                    }
                    for (var counttype = 0 ; counttype < 1 ; counttype++){
                        if(obj.Type != itemDetails.Value1)
                        {
                            $("<option value="+itemDetails.CommonId+">"+itemDetails.Value1+"</option>").appendTo("#txtType1");
                        }
                    }
                });
            }
        });
        $("#txtStatus").val(obj.Status);
        var img = "<div id='img' class='col-lg-2'><img src='@UrlFiles.Library" + obj.Id + "/" + obj.Images + "' class='img-responsive'></div>"
        $(img).appendTo("#beforeImage");
        CKEDITOR.instances.txtBrief.setData(obj.Brief);
        document.getElementById("btnSaveNews").onclick = function () { editSave(obj) };
        UploadFile();
        $("#myModal").modal("show");
    }


    function editSave() {
        var obj = {};
        obj.Id = $("#idLib").text();
        obj.Title = $("#txtTitle").val();
        obj.Brief = CKEDITOR.instances.txtBrief.getData();
        obj.Type = $("#txtType1").val();
        obj.Description = $("#txtDescription").val();
        obj.Status = $("#txtStatus").val();

        var image = document.getElementById("txtImage");
        var formData = new FormData();
        formData.append("obj", JSON.stringify(obj));
        if (image.value != "") {
            formData.append('file1', image.files[0]);
            var hinh = image.files[0];
            formData.append('cofile', true);
        }
        else {
            formData.append('cofile', false);
        }
        if (obj.Title.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Tiêu đề!");
            return false;
        }
        else if (obj.Brief.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Tóm tắt!");
            return false;
        }
        else if (obj.Type == "Type") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng chọn Ngành!");
            return false;
        }
        //else if (image.value == "") {
        //    $("#divThongBao_TB").show();
        //    $("#divThongBao_TB").removeClass();
        //    $("#divThongBao_TB").addClass("alert-danger");
        //    $("#spanThongBao_TB").text("Vui lòng chọn hình ảnh!");
        //    return false;
        //}
        else {
            $("#divThongBao_TB").hide();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditLib", "LibraryBE")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                    $("#divThongBao_TB").show();
                    $("#divThongBao_TB").removeClass();
                    $("#divThongBao_TB").addClass("alert-success");
                    $("#spanThongBao_TB").text("Sửa thành công!");
                    $("#btnSaveEditNews").show();
                    setTimeout(function () {
                        $("#divThongBao_TB").hide();
                        $("#spanThongBao_TB").val("");
                    }, 5000);
                    $("#addFile").show();
                    searchLib();
                }
                else {
                    $("#divThongBao_TB").show();
                    $("#divThongBao_TB").removeClass();
                    $("#divThongBao_TB").addClass("alert-danger");
                    $("#spanThongBao_TB").text("Lỗi khi lưu vào cơ sở dữ liệu.");
                    setTimeout(function () {
                        $("#divThongBao_TB").hide();
                        $("#spanThongBao_TB").val("");
                    }, 5000);
                    $("#addFile").hide();
                }
            },
            async: false,
        })
    }

    function UploadFile() {
        count++;
        var file = document.getElementById("txtAddFlie");
        var id = $("#idLib").text();
        var formData = new FormData();
        formData.append('file1', file.files[0]);
        formData.append("idLib", JSON.stringify(id))
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateFile", "LibraryBE")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (count == 10) {
                    $("#txtAddFlie").hide();
                    $("#warning").show();
                    $("#warning").removeClass();
                    $("#warning").addClass("alert-danger");
                    $("#warning").text("Bạn chỉ được chọn 10 file . Để chọn thêm hãy xóa!");
                }
                else {
                    $("#warning").hide();
                }
                if (data.status == 1) {
                    var file = $("#idFile").val();
                    $("#scripFile").tmpl(data.data).appendTo("#tableLink");
                    $(file).appendTo(".txtUploadFile");
                }
            },
            async: false,
        })
    }

    function clickCb() {
        if (cbTotal.checked == false) {
            for (i = 0; i < arrId.length; i++) {
                $('#cbChild_' + arrId[i]).prop('checked', false);
            }
        }
        else {
            for (i = 0; i < arrId.length; i++) {
                $('#cbChild_' + arrId[i]).prop('checked', true);
            }
        }
    }

    function confirmDelete() {
        var dem = 0;
        var idTodelete = "";
        for (i = 0; i < arrId.length; i++) {
            if ($('#cbChild_' + arrId[i]).is(':checked')) {
                dem++;
                idTodelete += "'" + arrId[i] + "' ";
            }
        }
        if (dem > 0) {
            $.confirm({
                title: 'Cảnh báo !!!',
                content: 'Bạn có chắc chắn muốn xóa bài đăng mã ' + idTodelete + ' không?',
                animation: 'Rotate',
                closeAnimation: 'Rotate',
                buttons: {
                    ok: {
                        btnClass: 'btn-red',
                        text: "Có",
                        action: function () {
                            deleteLib();
                            $.alert("Đã xóa thành công");
                            searchLib();
                        }
                    },
                    close: {
                        text: "Không",
                    }
                }
            });
        } else {
            $.confirm({
                title: 'Cảnh báo !!!',
                content: 'Bạn chưa chọn bài đăng nào để xóa?',
                animation: 'Rotate',
                closeAnimation: 'Rotate',
                buttons: {
                    close: {
                        text: "OK",
                    }
                }
            });
        }
    }

    function deleteLib() {
        arrChecked.length = 0;
        for (i = 0; i < arrId.length; i++) {
            if ($('#cbChild_' + arrId[i]).is(':checked')) {
                arrChecked[i] = arrId[i];
            }
        }
        var formData = new FormData();
        formData.append("obj", JSON.stringify(arrChecked));

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteLib", "LibraryBE")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                    for (i = 0; i < arrChecked.length; i++) {
                        $("#rowLib_" + arrChecked[i]).remove();
                    }

                }
            }
        })
    }

    function deleteFlies(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteFiles", "LibraryBE")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                if (data.success == true) {
                    $("#" + id).empty();
                }
            },
            async: false,
        });
    }

    function deleteFile(id) {
        $.confirm({
            title: 'Cảnh báo !!!',
            content: 'Bạn có chắc chắn muốn xóa không?',
            animation: 'Rotate',
            closeAnimation: 'Rotate',
            buttons: {
                ok: {
                    text: "Có",
                    action: function () {
                        deleteFlies(id);
                        $.alert("Đã xóa thành công");
                        count--;
                        if (count < 3) {
                            $("#warning").hide();
                            $("#txtAddFlie").show();
                        }
                    }
                },
                close: {
                    text: "Không",
                }
            }
        });
    }

    function view(id, temp) {
        var tempView;
        count = 0;
        $("#contentView").empty();
        $("#fliestView").empty();

        var obj = null;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("showLibId", "LibraryBE")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                if (data.success == true) {
                    tempView = data.listLib;
                }
            },
            async: false,
        });
        $(tempView).each(function () {
            if (this.Id == id) {
                obj = this;
                return false;
            }
        });
        // $("#viewTitle").text(temp.Title + curList[0].Title);
        $("#idView").text(obj.Id);
        $("#nameView").text(obj.Title);
        $("#briefView").html(obj.Brief);
        //$("#typeView").text(obj.Type);
        $("#typeViewTmp").remove();
        var libVM = @Html.Raw(Json.Encode(@Model.CommonCodeVM));
        var item = null;
        var itemDetails = null;
        $(libVM).each(function(){
            item = this;
            if (item.commonCodeDetailsVM.length != 0)
            {
                $(item.commonCodeDetailsVM).each(function(){
                    itemDetails= this;
                    if(obj.Type == itemDetails.CommonId)
                    {
                        $("<span id='typeViewTmp' style='color:dodgerblue;margin-left:2%' >"+itemDetails.Value1+"</span>").appendTo("#typeView");
                    }
                });
            }
        });
        $("#contentView").text(obj.Description);
        viewFile();
        if (obj.Status == "@Constants.Libs_Status.ActiveStatus") {
            $("#statusView").text("Hoạt Động");
        }
        else {
            $("#statusView").text("Không Hoạt Động");
        }
        $("#viewModal").modal("show");
    }

    function viewFile() {
        var id = $("#idView").text();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFiles", "LibraryBE")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                if (data.success) {
                    var stt = 1;
                    for (var i = 0; i < data.data.length; i++) {
                        data.data[i].index1 = stt; //
                        stt++;
                        arrId[i] = data.data[i].Id; //
                    }
                    $("#showFile").tmpl(data.data).appendTo("#fliestView");
                }
            },
            async: false,
        });
    }

    uploadField.onchange = function () {
        if (this.files[0].size >= 4194304) {
            alert("Vui lòng chọn files có dung lượng dưới 4Mb!");
            this.value = "";
            return;
        }
    };

</script>