@using resx = LS.Resources.Resources
@{
    string page_keyword_post = "";
    string site_keyword = "Dr Thanh Dieu, HCMUSSH Lecturer";
    string page_description_post = "";
    string page_keword_announcement = "";
    string page_description_announcement = "";

    //string description = "";
    if (LS.Web.Controllers.PostsController.page_keyword != null)
    {
        page_keyword_post = LS.Web.Controllers.PostsController.page_keyword;
    }

    if (LS.Web.Controllers.PostsController.page_description != null)
    {
        page_description_post = LS.Web.Controllers.PostsController.page_description;
    }

    if (LS.Web.Controllers.HomeController.site_keyword != null)
    {
        site_keyword = LS.Web.Controllers.HomeController.site_keyword;
    }

    if (LS.Web.Controllers.AnnouncementController.page_keyword != null)
    {
        page_keword_announcement = LS.Web.Controllers.AnnouncementController.page_keyword;
    }

    if (LS.Web.Controllers.AnnouncementController.page_description != null)
    {
        page_description_announcement = LS.Web.Controllers.AnnouncementController.page_description;
    }
}

<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <!-- Basic -->
    <title> @resx.TitleHome </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="keywords" content="@site_keyword , @page_keyword_post, @page_keword_announcement">
    <meta name="author" content="occbuu@gmail.com">
    <meta name="description" content="Dr Tran Thi Thanh Dieu, Lecturer at HCMC USSH,@page_description_post, @LS.Web.Controllers.AnnouncementController.page_description ">
    <meta name="author" content="">
    <meta property="og:url" content="http://www.drthanhdieu.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Dr Tran Thi Thanh Dieu, Lecturer at HCMC USSH" />
    <meta property="og:description" content="Dr Tran Thi Thanh Dieu, Lecturer at HCMC USSH" />
    <meta property="og:image" content="http://www.drthanhdieu.com/Content/images/slider/teacher.png" />
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" media="screen" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" media="screen" />
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/slicknav.css" media="screen" />
    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen" />
    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" media="screen" />
    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css" media="screen" />
    <!-- English Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/english.css" media="screen" />
    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/jade.css" title="jade" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css" title="blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/beige.css" title="beige" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/cyan.css" title="cyan" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/green.css" title="green" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/orange.css" title="orange" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/peach.css" title="peach" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/pink.css" title="pink" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/purple.css" title="purple" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/sky-blue.css" title="sky-blue" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/yellow.css" title="yellow" media="screen" />

    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.3/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Scripts/js/modernizrr.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Scripts/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Scripts/js/count-to.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.slicknav.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.slicknav.js"></script>
    <!-- tmpl -->
    <script src="~/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="~/Scripts/twbs-pagination/jquery.twbsPagination.min.js" type="text/javascript"></script>
    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript">
        var _url = '@(LS.Web.Controllers.BaseController.CurrentHost)';
    </script>
</head>
<body>
    <!-- Container -->
    <div id="container">
        <!-- Start Header -->
        <div class="hidden-header"></div>
        <header class="clearfix">
            @Html.Partial("topbar")
            @Html.Partial("header")
        </header>
        <!-- End Header -->
        @RenderBody()
        @Html.Partial("footer")
    </div>
    <!-- End Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- Style Switcher -->
    <div class="switcher-box">
        <a class="open-switcher show-switcher"><i class="fa fa-cog fa-2x"></i></a>
        <h4>Style Switcher</h4>
        <span>12 Predefined Color Skins</span>
        <ul class="colors-list">
            <li>
                <a onClick="setActiveStyleSheet('blue'); return false;" title="Blue" class="blue"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('sky-blue'); return false;" title="Sky Blue" class="sky-blue"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('cyan'); return false;" title="Cyan" class="cyan"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('jade'); return false;" title="Jade" class="jade"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('green'); return false;" title="Green" class="green"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('purple'); return false;" title="Purple" class="purple"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('pink'); return false;" title="Pink" class="pink"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('red'); return false;" title="Red" class="red"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('orange'); return false;" title="Orange" class="orange"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('yellow'); return false;" title="Yellow" class="yellow"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('peach'); return false;" title="Peach" class="peach"></a>
            </li>
            <li>
                <a onClick="setActiveStyleSheet('beige'); return false;" title="Biege" class="beige"></a>
            </li>
        </ul>
        <span>Top Bar Color</span>
        <select id="topbar-style" class="topbar-style">
            <option value="1">Light (Default)</option>
            <option value="2">Dark</option>
            <option value="3">Color</option>
        </select>
        <span>Layout Style</span>
        <select id="layout-style" class="layout-style">
            <option value="1">Wide</option>
            <option value="2">Boxed</option>
        </select>
        <span>Patterns for Boxed Version</span>
        <ul class="bg-list">
            <li>
                <a href="#" class="bg1"></a>
            </li>
            <li>
                <a href="#" class="bg2"></a>
            </li>
            <li>
                <a href="#" class="bg3"></a>
            </li>
            <li>
                <a href="#" class="bg4"></a>
            </li>
            <li>
                <a href="#" class="bg5"></a>
            </li>
            <li>
                <a href="#" class="bg6"></a>
            </li>
            <li>
                <a href="#" class="bg7"></a>
            </li>
            <li>
                <a href="#" class="bg8"></a>
            </li>
            <li>
                <a href="#" class="bg9"></a>
            </li>
            <li>
                <a href="#" class="bg10"></a>
            </li>
            <li>
                <a href="#" class="bg11"></a>
            </li>
            <li>
                <a href="#" class="bg12"></a>
            </li>
            <li>
                <a href="#" class="bg13"></a>
            </li>
            <li>
                <a href="#" class="bg14"></a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    @RenderSection("scripts", false)
</body>
</html>