@using LS.Web.Models;
@using LS.Utility;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/admin/plugins/twbs-pagination/jquery.twbsPagination.min.js"></script>
}
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Quản Lý Giảng Viên - Trợ Giảng</a></li>
            <li><a href="#">Tìm kiếm - chỉnh sửa</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-lg-9">
            <div id="search" style="width:55%">
                <input id="txtKeyword" type="text" placeholder="Tìm kiếm theo tên giảng viên" style="background-color:white!important" />
                <i class="fa fa-search" style="top:8px;color:red!important" onclick="search()"></i>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-9" style="margin-top:15px;width:74.1%;">
                <div class="col-lg-2" style="margin-left:-12px;font-weight:bold">
                    Từ ngày
                </div>
                <div class="col-lg-3">
                    <input id="fromDate" class="form-control calendar" data-date-format="dd/mm/yyyy" readonly="readonly" placeholder="Từ ngày" style="cursor:pointer">
                </div>
                <div class="col-lg-2" style="font-weight:bold">
                    Đến ngày
                </div>
                <div class="col-lg-3" style="margin-left:3px;">
                    <input id="toDate" class="form-control calendar" data-date-format="dd/mm/yyyy" readonly="readonly" placeholder="Đến ngày" style="cursor:pointer">
                </div>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-lg-9" style="margin-top:15px">
                <span id="checkDate"></span>
            </div>
        </div>*@
    <div class="row" style="margin-top:1%">
        <div class="col-lg-8">
            <div class="col-sm-2" style="font-weight: bold;">
                Giới Tính :
            </div>
            <div class="col-sm-4">
                <input type="radio" name="genderS" value="Nam" /> Nam
                <input type="radio" name="genderS" value="Nữ" style="margin-left:10%" /> Nữ
            </div>
        </div>
        <div class="col-lg-4" style="margin-top:15px;margin-bottom:-15px">
            <button type="button" class="btn btn-primary" style="width:70px;" onclick="searchPage();"><i class="fa fa-search"></i> Tìm</button>
            <button type="button" class="btn btn-success" style="width:70px;" onclick="window.location.href='@Url.Action("Create","TeacherManagement")'"><i class="fa fa-plus"></i> Thêm</button>
            <button type="button" class="btn btn-danger" style="width:70px;" onclick="confirmDelete();"><i class="fa fa-minus"></i> Xóa</button>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <span id="showTotalRecord" class="help-block"></span>
        <hr />
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-search"></i>
                        <span>Quản Lý Giảng Viên - Danh sách giảng viên</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content no-padding">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                        <thead>
                            <tr>
                                <th style="width:5%;">
                                    <input id="cbTotal" type="checkbox" value="checkTotalRecord" onclick="clickCb();">
                                </th>
                                <th style="width:3%;font-size: 90%">STT</th>
                                <th style="width:5%;font-size: 90%">#</th>
                                <th style="width:35%;font-size: 90%">Tên Giảng Viên</th>
                                <th style="width:10%;font-size: 90%">Năm sinh</th>
                                <th style="width:10%;font-size: 90%">Giới Tính</th>
                                <th style="width:15%;font-size: 90%">Người tạo</th>
                                <th style="width:20%;font-size: 90%">Chức Năng</th>
                            </tr>
                        </thead>
                        <!-- Start: list_row -->
                        <tbody id="tableTeacher"></tbody>
                        <!-- End: list_row -->
                        <tfoot>
                            <tr>
                                <th style="width:2%;"></th>
                                <th style="width:3%;font-size: 90%">STT</th>
                                <th style="width:5%;font-size: 90%">#</th>
                                <th style="width:35%;font-size: 90%">Tên Giảng Viên</th>
                                <th style="width:10%;font-size: 90%">Năm sinh</th>
                                <th style="width:10%;font-size: 90%">Giới Tính</th>
                                <th style="width:15%;font-size: 90%">Người tạo</th>
                                <th style="width:20%;font-size: 90%">Chức Năng</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="pagination" class="pagination" style="margin-left:40%">
            </div>
        </div>
    </div>
</div>

<script id="scripTeacher" type="text/x-jquery-tmpl">
    <tr id="rowTeacher_${Id}">
        <th style="width:2%;">
            <input id="cbChild_${Id}" type="checkbox" value="checkChildRecord">
        </th>
        <td style="width:3%;font-size: 90%" id="idSTT">${index}</td>
        <td style="width:5%;font-size: 90%">${Id}</td>
        <td style="width:35%;font-size: 90%">
            <div class="col-xs-3" style="width:10%">
                @*<div class="touch-slider project-slider">
                        <div class="item">
                            <a class="lightbox" title="${Title}" href="@UrlFiles.Library${Id}/${Images}" data-lightbox-gallery="gallery2">
                                <img src="@UrlFiles.Library${Id}/${Images}" alt="" />
                            </a>
                        </div>
                    </div>*@
            </div>
            <div class="col-xs-9" style="width:80%;font-size: 90%;margin-left: 20px">
                ${FullName}
            </div>
        </td>
        <td style="width:10%;font-size: 90%">${Birthday}</td>
        <td style="width:10%;font-size: 90%">${Gender}</td>
        <td style="width:15%;font-size: 90%">${CreatedBy}</td>
        <td style="width:20%;font-size: 90%">
            @*<button class="btn btn-primary btn-app-sm" id="update_${Id}" onclick="funcEdit('${Id}', this)" type="button" style="color:blue">
                <i class="fa fa-pencil" style="color:white"></i>
            </button>*@
            <button type="button" class="btn btn-success btn-app-sm" name="Xem thông tin " style="margin-left:5px" id="view_${Id}" onclick="viewInfo('${Id}', this)">
                <i class="fa fa-cogs" style="color:white"></i>
            </button>
            @*<button class="btn btn-danger btn-app-sm" style="margin-left:10px" type="button" id="${Id}" onclick="confirmDelete()">
                    <i class="fa fa-times" style="color:white"></i>
                </button>*@
        </td>
    </tr>
</script>

<div class="modal fade" id="viewModal" role="dialog">
    <div class="row">
        <div class="modal-dialog" style="float:left">
            <div class="modal-content" style="margin-left:40%; width:150%; height:auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <div class="row">
                            <div class="col-xs-2">
                                <span> MSGV : <a id="idView" style="color:red;"></a></span>
                            </div>
                            <div class="col-xs-2">
                                <span>Giảng Viên :</span>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" id="fullNameEdit" class="form-control" style="width:200px;">
                                <span style="color:dodgerblue;margin-left:2%" id="fullNameView"></span>
                                <a id="clickName_1" onclick="clickName(1);">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                </a>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <span style="font-weight: bold;">Trình độ :</span>
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" id="" class="form-control" style="width:100px;display:none;">
                                    <span style="color:dodgerblue;margin-left:3%" id="">( chưa update )</span>
                                    <a id="clickName_A" onclick="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <span style="font-weight: bold;">Tốt Nghiệp Trường :</span>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" id="" class="form-control" style="width:100px;display:none;" hidden>
                                    <span style="color:dodgerblue;margin-left:3%" id="">( chưa update )</span>
                                    <a id="clickName_B" onclick="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-4" style="margin-top: 5px; font-weight: bold;">
                                <div class="col-xs-6">
                                    <span style="font-weight: bold;">Ngày sinh :</span>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" id="birhdayEdit" class="form-control" style="width:150px;">
                                    <span style="color:dodgerblue;margin-left:3%" id="birhdayView"></span>
                                    <a id="clickName_2" onclick="clickName(2);">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4" style="margin-top: 5px; font-weight: bold;">
                                <div class="col-xs-6">
                                    <span style="font-weight: bold;">Giới Tính :</span>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" id="genderEdit" class="form-control" style="width:100px;">
                                    <span style="color:dodgerblue;margin-left:3%" id="genderView"></span>
                                    <a id="clickName_3" onclick="clickName(3);">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4" style="margin-top: 5px; font-weight: bold;">
                                <div class="col-xs-4">
                                    <span style="font-weight: bold;">Số DT :</span>
                                </div>
                                <div class="col-xs-8">
                                    <input type="text" id="phoneNumberEdit" class="form-control" style="width:150px;">
                                    <span style="color:dodgerblue;margin-left:3%" id="phoneNumberView"></span>
                                    <a id="clickName_4" onclick="clickName(4);">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px;">
                            <div class="col-xs-2">
                                <span style="margin-left: 13%;font-weight: bold;">Địa chỉ :</span>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" id="addressEdit" class="form-control" style="width:600px;">
                                <span style="color:dodgerblue;" id="addressView"></span>
                                <a id="clickName_5" onclick="clickName(5);">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px;">
                            <div class="col-xs-2" style="margin-left: 1.85%;padding-right:0px;">
                                <span style="font-weight: bold;">Mô tả :</span>
                                <a id="clickName_6" onclick="clickName(6);">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;margin-left:1%;"></i>
                                </a>
                            </div>
                            <div class="col-xs-9" style="padding-left:0px;">
                                <textarea id="descriptionEdit" rows="10" cols="80" style="visibility: hidden; display: none;"></textarea>
                                <span style="color:dodgerblue;" id="descriptionView"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:30px;padding:0px;">
                        <h4 class=""></h4>
                        @*<div class="row" style="margin-right:45%;">
                                  <button type="button" class="btn btn-primary btn-md" name="Prev" style="line-height:0px;width: 55px;" id="" onclick="">
                                      <i class="fa fa-angle-double-left" aria-hidden="true" style="color:white"></i>
                                  </button>
                                  <button type="button" class="btn btn-primary btn-md" name="Next" style="line-height:0px;width: 55px;" id="" onclick="next();">
                                      <i class="fa fa-angle-double-right" aria-hidden="true" style="color:white"></i>
                                  </button>
                            </div>*@
                        <button class="btn btn-primary btn-app-sm" id="" onclick="clickName(0);" type="button" style="width:81.6px;float:left;">
                            @*<i class="fa fa-pencil" style="color:white"></i>*@
                            Edit All
                        </button>
                        <button type="button" class="btn btn-primary btn-md" name="" style="" id="saveEdit" onclick="funcEdit();">
                            Save
                        </button>
                        <button type="button" class="btn btn-primary btn-md" name="" style="" id="" onclick="">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var _recordPerPage = 10;
    var currentPage = 1;
    var arrChecked = [];
    var arrId = [];
    var tempView;

    $(function () {
        //$('.calendar').datepicker({
        //    startDate: '-3d'
        //});
        //CKEDITOR.replace('descriptionEdit');
        $('#pagination').twbsPagination('destroy');
        getAllTeacher();
    })

    function getAllTeacher() {
        $("#tableTeacher").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllTeacher", "TeacherManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                pageNumber: pageConfig.pageIndex,
                pageSize: pageConfig.pageSize
            }),
            success: function (data) {
                if (data.success) {
                    tmp = data.data;
                    var stt = (pageConfig.pageIndex - 1) * pageConfig.pageSize;
                    stt = stt + 1;
                    for (var i = 0; i < data.data.length; i++) {
                        data.data[i].index = stt; //
                        stt++;
                        arrId[i] = data.data[i].Id;
                    }
                    $("#scripTeacher").tmpl(data.data).appendTo("#tableTeacher");
                    paging(data.listAllTeacher.length, function () {
                        getAllTeacher();
                    });
                }
            },
            async: false,
        });
    }

    function searchPage() {
        $('#pagination').twbsPagination('destroy');
        search();
    }

    function search() {
        var key = $("#txtKeyword").val();
        $("#tableTeacher").empty();
        var recordCount = 0;
        var radios = document.getElementsByName('genderS');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                var gender = radios[i].value;
                break;
            }
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Search", "TeacherManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                keyWord: key,
                gender: gender,
                pageNumber: pageConfig.pageIndex,
                pageSize: pageConfig.pageSize,
                recordCount: recordCount
            }),
            success: function (data) {
                if (data.success == true) {
                    var stt = (pageConfig.pageIndex - 1) * pageConfig.pageSize;
                    stt = stt + 1;
                    for (var i = 0; i < data.data.length; i++) {
                        data.data[i].index = stt; //
                        stt++;
                        arrId[i] = data.data[i].Id;
                    }
                    if (data.TotalRecord > 0) {
                        $("#showTotalRecord").html("Có <b>" + data.TotalRecord + "</b> kết quả tìm kiếm");
                    }
                    else {
                        $("#showTotalRecord").html("Có 0 kết quả tìm kiếm ");
                    }
                    $("#showTotalRecord").show();
                    $("#scripTeacher").tmpl(data.data).appendTo("#tableTeacher");
                    paging(data.TotalRecord, function () {
                        search();
                    });
                }
            },
            async: false,
        });
    }

    // Paging page
    var pageConfig = {
        pageSize: 10, // Lines to show in a page
        pageIndex: 1 // The position that you choose
    }

    function paging(totalRow, callBack) {
        var totalPage = Math.ceil(totalRow / pageConfig.pageSize);
        $('#pagination').twbsPagination({
            totalPages: totalPage,
            first: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true" style="font-size: 12px;">&gt;</span>',
            last: '<span aria-hidden="true">&raquo;</span>',
            prev: '<span aria-hidden="true" style="font-size: 12px;">&lt;</span>',
            visiblePages: 3,// numbers of pagination
            onPageClick: function (event, page) {
                pageConfig.pageIndex = page;
                setTimeout(callBack, 200);
            }
        });
    }

    function clickCb() {
        if (cbTotal.checked == false) {
            for (i = 0; i < arrId.length; i++) {
                $('#cbChild_' + arrId[i]).prop('checked', false);
            }
        }
        else {
            for (i = 0; i < arrId.length; i++) {
                $('#cbChild_' + arrId[i]).prop('checked', true);
            }
        }
    }

    // show delete action popup
    function confirmDelete() {
        var dem = 0;
        var idTodelete = "";
        for (i = 0; i < arrId.length; i++) {
            if ($('#cbChild_' + arrId[i]).is(':checked')) {
                dem++;
                idTodelete += "'" + arrId[i] + "' ";
            }
        }
        if (dem > 0) {
            $.confirm({
                title: 'Cảnh báo !!!',
                content: 'Bạn có chắc chắn muốn xóa bài đăng mã ' + idTodelete + ' không?',
                animation: 'Rotate',
                closeAnimation: 'Rotate',
                buttons: {
                    ok: {
                        btnClass: 'btn-red',
                        text: "Có",
                        action: function () {
                            deleteTeacher();
                            $.alert("Đã xóa thành công");
                            getAllTeacher();
                        }
                    },
                    close: {
                        text: "Không",
                    }
                }
            });
        } else {
            $.confirm({
                title: 'Cảnh báo !!!',
                content: 'Bạn chưa chọn bài đăng nào để xóa?',
                animation: 'Rotate',
                closeAnimation: 'Rotate',
                buttons: {
                    close: {
                        text: "OK",
                    }
                }
            });
        }
    }

    // Delete teacher info
    function deleteTeacher() {
        arrChecked.length = 0;
        var j = -1;
        for (i = 0; i < arrId.length; i++) {
            if ($('#cbChild_' + arrId[i]).is(':checked')) {
                arrChecked[++j] = arrId[i];
            }
        }
        var formData = new FormData();
        formData.append("obj", JSON.stringify(arrChecked));

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteTeacher", "TeacherManagement")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                }
            }
        })
    }

    // View info Teacher
    var tmpId;
    function viewInfo(id, temp) {
        CKEDITOR.replace('descriptionEdit');
        var obj = null;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllTeacher", "TeacherManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                pageNumber: pageConfig.pageIndex,
                pageSize: pageConfig.pageSize
            }),
            success: function (data) {
                if (data.success) {
                    tempView = data.listAllTeacher;
                }
            },
            async: false,
        });
        $(tempView).each(function () {
            if (this.Id == id) {
                obj = this;
                return false;
            }
        });
        $("#idView").text(obj.Id);
        tmpId = obj.Id;

        $("#fullNameView").show();
        $("#clickName_1").show();
        $("#fullNameView").text(obj.FullName);
        $("#fullNameEdit").hide();

        $("#birhdayView").show();
        $("#clickName_2").show();
        $("#birhdayView").text(obj.Birthday);
        $("#birhdayEdit").hide();

        $("#genderView").show();
        $("#clickName_3").show();
        $("#genderView").text(obj.Gender);
        $("#genderEdit").hide();

        $("#phoneNumberView").show();
        $("#clickName_4").show();
        $("#phoneNumberView").text(obj.PhoneNumber);
        $("#phoneNumberEdit").hide();

        $("#addressView").show();
        $("#clickName_5").show();
        $("#addressView").text(obj.Address);
        $("#addressEdit").hide();

        $("#descriptionView").show();
        $("#clickName_6").show();
        $("#descriptionView").html(obj.Description);

        CKEDITOR.instances.descriptionEdit.updateElement();
        CKEDITOR.instances.descriptionEdit.destroy();
        $('#descriptionEdit').hide();

        $("#saveEdit").hide();
        $("#viewModal").modal("show");
    }

    // Click change action see to edit for 1 info
    var x = 0;
    function clickName(x) {
        $("#saveEdit").show();
        var obj = null;
        $(tempView).each(function () {
            if (this.Id == tmpId) {
                obj = this;
                return false;
            }
        });
        if (x == 0) {
            $("#fullNameView").hide();
            $("#clickName_1").hide();
            $("#fullNameEdit").val(obj.FullName);
            $("#fullNameEdit").show();

            $("#birhdayView").hide();
            $("#clickName_2").hide();
            $("#birhdayEdit").val(obj.Birthday);
            $("#birhdayEdit").show();

            $("#genderView").hide();
            $("#clickName_3").hide();
            $("#genderEdit").val(obj.Gender);
            $("#genderEdit").show();

            $("#phoneNumberView").hide();
            $("#clickName_4").hide();
            $("#phoneNumberEdit").val(obj.PhoneNumber);
            $("#phoneNumberEdit").show();

            $("#addressView").hide();
            $("#clickName_5").hide();
            $("#addressEdit").val(obj.Address);
            $("#addressEdit").show();

            $("#descriptionView").hide();
            $("#clickName_6").hide();
            CKEDITOR.replace('descriptionEdit');
            $('#descriptionEdit').show();
            CKEDITOR.instances.descriptionEdit.setData(obj.Description);
        }
        if (x == 1) {
            $("#fullNameView").hide();
            $("#clickName_1").hide();
            $("#fullNameEdit").val(obj.FullName);
            $("#fullNameEdit").show();
        }
        if (x == 2) {
            $("#birhdayView").hide();
            $("#clickName_2").hide();
            $("#birhdayEdit").val(obj.Birthday);
            $("#birhdayEdit").show();
        }
        if (x == 3) {
            $("#genderView").hide();
            $("#clickName_3").hide();
            $("#genderEdit").val(obj.Gender);
            $("#genderEdit").show();
        }
        if (x == 4) {
            $("#phoneNumberView").hide();
            $("#clickName_4").hide();
            $("#phoneNumberEdit").val(obj.PhoneNumber);
            $("#phoneNumberEdit").show();
        }
        if (x == 5) {
            $("#addressView").hide();
            $("#clickName_5").hide();
            $("#addressEdit").val(obj.Address);
            $("#addressEdit").show();
        }
        if (x == 6) {
            $("#descriptionView").hide();
            $("#clickName_6").hide();
            CKEDITOR.replace('descriptionEdit');
            $('#descriptionEdit').show();
            CKEDITOR.instances.descriptionEdit.setData(obj.Description);
        }
    }
    // Edit information Teacher
    //TODO - Can't edit one by one info and check gender
    function funcEdit() {
        var obj = {};
        obj.Id = $("#idView").text();
        if ($("#fullNameEdit").val() == null) {
            obj.FullName = $("#fullNameView").val();
        }
        else {
            obj.FullName = $("#fullNameEdit").val();
        }
        if ($("#addressEdit").val() == null) {
            obj.Address = $("#addressView").val();
        }
        else {
            obj.Address = $("#addressEdit").val();
        }
        if ($("#birhdayEdit").val() == null) {
            obj.Birthday = $("#birhdayView").val();
        }
        else {
            obj.Birthday = $("#birhdayEdit").val();
        }
        if ($("#phoneNumberEdit").val() == null) {
            obj.PhoneNumber = $("#phoneNumberView").val();
        }
        else {
            obj.PhoneNumber = $("#phoneNumberEdit").val();
        }
        if ($("#descriptionEdit").val() == null) {
            obj.Description = $("#descriptionView").val();
        }
        else {
            obj.Description = CKEDITOR.instances.descriptionEdit.getData();
        }

        var radios = document.getElementsByName('genderS');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                obj.Gender = radios[i].value;
                break;
            }
        }

        var formData = new FormData();
        formData.append("obj", JSON.stringify(obj));

        if (obj.FullName.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Tên!");
            return false;
        }
        else if (obj.Address.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Địa chỉ!");
            return false;
        }
        else if (obj.PhoneNumber.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Số ĐT!");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditTeacher", "TeacherManagement")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.success) {
                    getAllTeacher();
                    $("#fullNameView").show();
                    $("#clickName_1").show();
                    $("#fullNameView").text(obj.FullName);
                    $("#fullNameEdit").hide();

                    $("#birhdayView").show();
                    $("#clickName_2").show();
                    $("#birhdayView").text(obj.Birthday);
                    $("#birhdayEdit").hide();

                    $("#genderView").show();
                    $("#clickName_3").show();
                    $("#genderView").text(obj.Gender);
                    $("#genderEdit").hide();

                    $("#phoneNumberView").show();
                    $("#clickName_4").show();
                    $("#phoneNumberView").text(obj.PhoneNumber);
                    $("#phoneNumberEdit").hide();

                    $("#addressView").show();
                    $("#clickName_5").show();
                    $("#addressView").text(obj.Address);
                    $("#addressEdit").hide();

                    $("#descriptionView").show();
                    $("#clickName_6").show();
                    $("#descriptionView").html(obj.Description);

                    CKEDITOR.instances.descriptionEdit.updateElement();
                    CKEDITOR.instances.descriptionEdit.destroy();
                    $('#descriptionEdit').hide();

                    $("#saveEdit").hide();
                    $("#viewModal").modal("show");
                }
                else {
                    // Ngược lại báo lỗi khi lưu !

                    //$("#divThongBao_TB").show();
                    //$("#divThongBao_TB").removeClass();
                    //$("#divThongBao_TB").addClass("alert-danger");
                    //$("#spanThongBao_TB").text("Lỗi khi lưu vào cơ sở dữ liệu.");
                    //setTimeout(function () {
                    //    $("#divThongBao_TB").hide();
                    //    $("#spanThongBao_TB").val("");
                    //}, 5000);
                }
            },
            async: false,
        })
    }

</script>