@using LS.Utility;
@using LS.Web.Models;

@using resx1 = LS.Resources.Posts.ResourcesPosts;

@model CategoryViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Quản lí bài đăng</a></li>
            <li><a href="#">Chỉnh sửa</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>

<div class="well">
    <form role="form" style="margin-top:10px;">
        <div class="box-body">
            <div class="row" id="idArea">
                <div class="col-lg-2" style="margin-top: 5px; font-weight: bold;">
                    Id
                </div>
                <div class="col-lg-10">
                    <span id="idPost">@Model.DetailNew.Id</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2" style="margin-top: 5px; font-weight: bold;">
                    Links
                </div>
                <div class="col-lg-10">
                    <span id="linksPost">@Model.DetailNew.Links</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2" style="margin-top: 5px; font-weight: bold;">
                    Tiêu đề<span style="color:red;"> *</span>
                </div>
                <div class="col-lg-10">
                    <input type="text" placeholder="Nhập tiêu đề" id="txtSubject" class="form-control" value="@Model.DetailNew.Title">
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-2" style="font-weight: bold;">
                    Tóm tắt<span style="color:red;"> *</span>
                </div>
                <div class="col-lg-10">
                    <textarea id="editorBrief" rows="10" cols="80" style="visibility: hidden; display: none;">@Model.DetailNew.NewsBrief</textarea>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-lg-2" style="font-weight: bold;">
                    Nội dung<span style="color:red;"> *</span>
                </div>
                <div class="col-lg-10">
                    <textarea id="editorContent" rows="10" cols="80" style="visibility: hidden; display: none;">@Model.DetailNew.NewsDetail</textarea>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-lg-2" style="font-weight: bold;">
                    Loại
                </div>
                <div class="col-lg-10">
                    <select id="txtType" class="form-control" onchange="changeType();">
                        <option value="English">English</option>
                        <option value="JapaneseStudies">Japanese</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-lg-2" style="font-weight: bold;">
                    Danh mục
                </div>
                <div class="col-lg-10">
                    <select id="txtCategory" class="form-control" onchange="changeCommonCode();"></select>
                </div>
            </div>
            <div class="row" style="margin-top:15px; display:none;" id="danhmuccon">
                <div class="col-lg-2" style="font-weight: bold;">
                    Danh mục con
                </div>
                <div class="col-lg-10">
                    <select id="txtCategoryChild" class="form-control"></select>
                </div>
            </div>
            <div class="row" style="margin-top:15px;" id="danhmuccon">
                <div class="col-lg-2" style="font-weight: bold;">
                    Trạng thái
                </div>
                <div class="col-lg-10">
                    <select id="txtStatus" class="form-control">
                        @{
                            var checkAct = "";
                            var checkInAct = "";
                            if (Model.DetailNew.Status == Constants.News_Status.ActiveStatus)
                            {
                                checkAct = "selected";
                            }
                            else
                            {
                                checkInAct = "selected";
                            }
                        }
                        <option value="@Constants.News_Status.ActiveStatus" @checkAct>Hoạt động</option>
                        <option value="@Constants.News_Status.InactiveStatus" @checkInAct>Không Hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-lg-2" style="margin-top: 10px;font-weight: bold;">
                    Hình ảnh<span style="color:red;"></span>
                </div>
                <div class="col-lg-8" style="margin-top: 10px;">
                    <img class="col-lg-2" id="imgPost" src="@UrlImages.ImagesPost/@Model.DetailNew.Id/@Model.DetailNew.Images" />
                    <label for="File input">Chọn tệp </label>
                    <input type="file" id="txtImage" accept="image/*" class="upload" style="display: inline;" value="@Model.DetailNew.Images">
                </div>
            </div>
            <div class="row" style="margin-top: 10px; ">
                <div class="col-lg-2" style="font-weight: bold;">
                    Biên tập viên<span style="color:red;"> *</span>
                </div>
                <div class="col-lg-10">
                    <input type="text" placeholder="Nhập từ khóa" id="txtEditor" class="form-control" value="@Model.DetailNew.Editor">
                </div>
                <br><br>
            </div>
            <div class="row" style="margin-top: 5px; ">
                <div class="col-lg-2" style="font-weight: bold;">
                    Từ khóa
                </div>
                <div class="col-lg-10">
                    <input type="text" placeholder="Nhập từ khóa" id="txtKeyword" class="form-control" value="@Model.DetailNew.Keyword">
                </div>
                <br><br>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-2" style="font-weight: bold;">
                    Mô tả
                </div>
                <div class="col-lg-10">
                    <input type="text" placeholder="Nhập mô tả" id="txtDescription" class="form-control" value="@Model.DetailNew.Description">
                </div>
                <br><br>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-2" id="divThongBao_TB" style="margin-top: 5px;">
                    <span id="spanThongBao_TB" style="margin-left:2%"></span>
                </div>
                <div class="col-lg-10">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:5px;float:right">
                <div class="col-lg-12 pull-right">
                    <a id="btnSaveNews" class="btn btn-primary" style="display: inline-block;" onclick="EditSave();">
                        Lưu
                    </a>
                    <a id="btnBack" class="btn btn-primary" style="display: inline-block;" href="@Url.Action("Index","PostManagement")">
                        Trở về
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

<div class="well">
    @if (Model.ListTags.Count() > 0)
            { <div class="widget widget-tags">
        <h4>Tags <span class="head-line"></span></h4>
        <div class="row">
            <div class="col-xs-3">
                <input type="text" id="txtTagName" />
            </div>
            <div class="col-xs-3">
                <input type="button" style="padding: inherit;  margin-left: -50px;" class="btn btn-primary" id="btnAddTags" value="Thêm" onclick="addTag();" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span id="warnningTag"></span>
            </div>
        </div>
        <div id="imagePlus" style="margin-top:10px;">
            @foreach (var item in Model.ListTags)
                {
            <span id="tag_@item.Id" style="display: inline-block; color: #666; font-size: 12px; padding: 4px 10px; background: white; margin-bottom: 4px;">@item.TagName <i class="fa fa-times-circle" onclick="confirmDeleteTag(@item.Id);"></i></span>
            }
        </div>
    </div>
    }
</div>

<div class="well" id="addImage">
    <div class="row" style="margin-top: 15px" id="chooseImage">
        <div class="col-lg-2" style="margin-top: 5px;font-weight: bold;">
            Chọn hình ảnh
        </div>
        <div class="col-lg-10">
            <label for="File input">Chọn tệp </label>
            <input type="file" id="txtAddImage" class="upload" accept="image/*" style="display: inline;">
            <div class="help-block">Chỉ được chọn tối đa 10 hình ảnh!!!</div>
        </div>
    </div>
    <span id="warning"></span>
    <div class="row" id="txtUploadImage">
        @{ foreach (var item in Model.ListImage)
            {
        <div class="col-xs-3 imgDiv" id="img_@item.Id">
            <div>
                <img style="float:right; width:10%;" src="@UrlImages.ImagesPost/icon_delete.png" onclick="confirmDeleteImage(@item.Id);" />
            </div>
            <img src="@item.Url" style="width:100%; height:250px;" />
        </div>
            }}
    </div>
</div>

<div class="well row">
    <div id="comments" class="col-xs-6">
        <h2 class="comments-title">(@Model.TotalComment) @resx1.Comments</h2>
        <div class="comments-list" id="commentlist">
            @for (int i = 0; i < Model.ListComment.Count(); i++)
            {
                <div class="clearfix" id="cmtChild_@Model.ListComment[i].Id">
                    <div class='avatar'><img alt="" src="@UrlImages.ImageAvatar@Model.ListComment[i].Avatar" /></div>
                    <div class='comment-content'>
                        <div class='comment-meta'>
                            <span style="font-weight:bold;">@Model.ListComment[i].CreatedBy</span>
                            <span style="font-style:italic"> - @Model.ListComment[i].CreateDate</span>
                            @if (Model.ListComment[i].Status == "1")
                            {
                                <input id="cbCmt" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt(@Model.ListComment[i].Id);" checked>
                            }
                            else
                            {
                                <input id="cbCmt_@Model.ListComment[i].Id" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt(@Model.ListComment[i].Id);">
                            }
                            <i class="fa fa-times-circle" onclick="confirmDeleteCmtChild(@Model.ListComment[i].Id);"></i>
                        </div>
                        <p>@Model.ListComment[i].Content</p>
                        <a id="read_@Model.ListComment[i].Id" style='cursor:pointer;' onclick="moreChildren(@Model.ListComment[i].Id);">@resx1.MoreAns...</a>
                        <a id="hide_@Model.ListComment[i].Id" style='cursor:pointer;display:none;' onclick="hideAll(@Model.ListComment[i].Id);">@resx1.HideAll...</a>
                        <div id="childrenComment_@Model.ListComment[i].Id"></div>
                    </div>
                </div>
            }
        </div>
        @if (Model.ListComment.Count() > 0)
        {
            <div class="post-tags-list">
                <a id="moreComments" style="cursor:pointer;float:right" onclick="moreComments(@Model.DetailNew.Id)" ;>@resx1.MoreQuestion</a>
            </div>
        }
    </div>
</div>

<script id="tmplContentPage" type="text/x-jquery-tmpl">
    <div class='clearfix' id="cmtChild_${Id}">
        <div class='avatar'><img alt="" src="@UrlImages.ImageAvatar${Avatar}" /></div>
        <div class='comment-content'>
            <div class='comment-meta'>
                <span style="font-weight:bold;">${CreatedBy}</span>
                <span style="font-style:italic"> - ${CreateDate}</span>
                {{if Status==1}}
                <input id="cbCmt_${Id}" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt('${Id}');" checked>
                {{else}}
                <input id="cbCmt_${Id}" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt('${Id}');">
                {{/if}}
                <i class="fa fa-times-circle" onclick="confirmDeleteCmtChild('${Id}');"></i>
            </div>
            <p>${Content}</p>
            <a id="read_${Id}" style='cursor:pointer' onclick="moreChildren('${Id}');">@resx1.MoreAns...</a>
            <a id="hide_${Id}" style="cursor:pointer;display:none;" onclick="hideAll('${Id}');">@resx1.HideAll...</a>
            <div id="childrenComment_${Id}"></div>
        </div>
    </div>
</script>

<script id="tmplContentChildrenComment" type="text/x-jquery-tmpl">
    <div style="margin-left:5%;" id="cmtChild_${Id}">
        <div class='avatar'><img alt="" src="@UrlImages.ImageAvatar${Avatar}" /></div>
        <div class='comment-content'>
            <div class='comment-meta'>
                <span style="font-weight:bold;">${CreatedBy}</span>
                <span style="font-style:italic">${CreateDate}</span>
                {{if Status==1}}
                <input id="cbCmt_${Id}" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt('${Id}');" checked>
                {{else}}
                <input id="cbCmt_${Id}" type="checkbox" value="checkTotalRecord" onclick="clickCbCmt('${Id}');">
                {{/if}}
                <i class="fa fa-times-circle" onclick="confirmDeleteCmtChild('${Id}');"></i>
                <p>${Content}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/javascript">

    var category = "@Model.DetailNew.Category";
    var timesViewMoreChild=0;
    var timesViewMore=0;

    $(function () {
        CKEDITOR.replace('editorContent');
        CKEDITOR.replace('editorBrief');
        changeType();
        changeCommonCode();
        var dem = 0;
        for (i = 0; i < category.length; i++) {
            if (category[i] == '-') {
                dem++;
            }
        }
        if (dem == 1) {
            $("#txtCategory").val(category);
            $("#danhmuccon").hide();
        }
        else {
            $("#txtCategoryChild").val(category);
        }

        $("input[id=txtImage]").change(function (ev) {
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Vui lòng chọn hình ảnh");
                $("#txtImage").val("");
                return false;
            }
            readURL(this);
        });

        $('input[id=txtAddImage]').change(function (ev) {
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Vui lòng chọn hình ảnh");
                $("#txtAddImage").val("");
                return false;
            }
            if (CheckTotalImg() == true) {
                UploadImage();
                $("#warning").hide();
            }
            else {
                $("#warning").show();
                $("#warning").removeClass();
                $("#warning").addClass("alert-danger");
                $("#warning").text("Bạn chỉ được chọn 10 hình. Để chọn thêm hình hãy xóa!");
            }
        });
    })

    function changeType() {
        var type = $("#txtType").val();
        if (type != undefined || type != null || type != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCategory", "PostManagement")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    type: type
                }),
                success: function (data) {
                    $("#txtCategory").empty();
                    for (var i = 0; i < data.data.length; i++) {
                        var option = "<option value='" + data.data[i].CommonId + "'>" + data.data[i].ValueDisplay + "</option>";
                        $(option).appendTo("#txtCategory");
                    }
                },
                async: false,
            });
        }
        changeCommonCode();
    }

    function changeCommonCode() {
        var category = $("#txtCategory").val();
        if (category != undefined || category != null || category != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCategoryChild","PostManagement")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    commonId: category
                }),
                success: function (data) {
                    $("#txtCategoryChild").empty();
                    if (data.data.length > 0) {
                        for (var i = 0; i < data.data.length; i++) {
                            var option = "<option value='" + data.data[i].CommonId + "'>" + data.data[i].ValueDisplay + "</option>";
                            $(option).appendTo("#txtCategoryChild");
                        }
                        $("#danhmuccon").show();
                    } else {
                        $("#danhmuccon").hide();
                    }

                },
                async: false,
            });
        }
    }

    function EditSave() {
        var obj = {};
        obj.Id = $("#idPost").text();
        obj.Title = $("#txtSubject").val();
        obj.NewsBrief = CKEDITOR.instances.editorBrief.getData();
        obj.NewsDetail = CKEDITOR.instances.editorContent.getData();
        var category = $("#txtCategory").val();
        var cateChild = $("#txtCategoryChild").val();
        if (cateChild != null) {
            category = cateChild;
        }
        obj.CategoryId = category;
        obj.Status = $("#txtStatus").val();
        obj.KeyWord = $("#txtKeyword").val();
        obj.Description = $("#txtDescription").val();
        obj.Editor = $("#txtEditor").val();
        var image = document.getElementById("txtImage");

        var formData = new FormData();
        formData.append("obj", JSON.stringify(obj));

        if (image.value != "") {
            formData.append('file1', image.files[0]);
            var hinh = image.files[0];

            formData.append('cofile', true);
        }
        else {
            formData.append('cofile', false);
        }


        if (obj.Title.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Tiêu đề!");
            return false;
        }
        else if (obj.NewsBrief.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Tóm tắt!");
            return false;
        }
        else if (obj.NewsDetail.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập Nội dung!");
            return false;
        }
        else if (obj.Editor.trim() == "") {
            $("#divThongBao_TB").show();
            $("#divThongBao_TB").removeClass();
            $("#divThongBao_TB").addClass("alert-danger");
            $("#spanThongBao_TB").text("Vui lòng nhập biên tập viên!");
            return false;
        }
        else {
            $("#divThongBao_TB").hide();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "PostManagement")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                    $("#linksPost").text(data.linksPost);
                    $("#divThongBao_TB").show();
                    $("#divThongBao_TB").removeClass();
                    $("#divThongBao_TB").addClass("alert-success");
                    $("#spanThongBao_TB").text("Sửa thành công!");
                    setTimeout(function () {
                        $("#divThongBao_TB").hide();
                        $("#spanThongBao_TB").val("");
                    }, 5000);
                    $("#addImage").show();
                }
                else {
                    $("#divThongBao_TB").show();
                    $("#divThongBao_TB").removeClass();
                    $("#divThongBao_TB").addClass("alert-danger");
                    $("#spanThongBao_TB").text("Lỗi khi lưu vào cơ sở dữ liệu.");
                    setTimeout(function () {
                        $("#divThongBao_TB").hide();
                        $("#spanThongBao_TB").val("");
                    }, 5000);
                    $("#addImage").hide();
                }
            },
            async: false,
        })
    }

    function addTag() {
        if ($("#txtTagName").val().trim() == "") {

            $("#warnningTag").show(500);
            $("#warnningTag").removeClass();
            $("#warnningTag").addClass("alert-danger");
            $("#warnningTag").text("Vui lòng nhập tag trước khi thêm!");
            setTimeout(function () { $("#warnningTag").hide(500); }, 3000);
            return;
        }

        var obj = {};
        obj.TagName = $("#txtTagName").val();
        obj.TagId = "@Model.DetailNew.Category";
        var formData = new FormData();
        formData.append("obj", JSON.stringify(obj))

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddTag", "PostManagement")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                    var image = '<span id="tag_' + data.data.Id + '"style="display: inline-block; color: #666; font-size: 12px; padding: 4px 10px; background: white; margin-bottom: 4px;">' + data.data.TagName + ' <i class="fa fa-times-circle" onclick="deleteTag(' + data.data.Id + ');"></i></span>';
                    $(image).appendTo("#imagePlus");
                    $("#txtTagName").val("");
                    $("#warnningTag").show(500);
                    $("#warnningTag").removeClass();
                    $("#warnningTag").addClass("alert-success");
                    $("#warnningTag").text("Thêm thành công!");
                    setTimeout(function () { $("#warnningTag").hide(500); }, 3000);
                }
                else {
                }
            },
            async: false,
        })
    }

    function confirmDeleteTag(id){
        $.confirm({
            title: 'Cảnh báo !!!',
            content: 'Bạn có chắc chắn muốn xóa tag này không?',
            animation: 'Rotate',
            closeAnimation: 'Rotate',
            buttons: {
                ok: {
                    btnClass: 'btn-red',
                    text: "Có",
                    action: function () {
                        deleteTag(id);
                        $.alert("Đã xóa thành công");
                        $('#cbTotal').attr('checked', false);
                        $('#pagination').twbsPagination('destroy');
                    }
                },
                close: {
                    text: "Không",
                }
            }
        });
    }

    function deleteTag(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteTag", "PostManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                $("#tag_" + id).remove();
            },
            async: false,
        })
    }

    function UploadImage() {
        var image = document.getElementById("txtAddImage");
        var id = $("#idPost").text();
        var formData = new FormData();
        formData.append('file1', image.files[0]);
        formData.append("idPost", JSON.stringify(id))
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateImage", "PostManagement")',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 1) {
                    var image = "<div class='col-xs-3 imgDiv' id='img_" + data.id + "'> <div ><img width='10%'style='float:right;' src='" + "@UrlImages.ImagesPost" + "icon_delete.png' onclick='DeleteImage(" + data.id + ");' /></div><img src='" + "@UrlImages.ImagesPost" + $("#idPost").text() + "/" + data.linkImage + "' width='100%' height='250px'/></div>";
                    $(image).appendTo("#txtUploadImage");
                }
                else {
                }
            },
            async: false,
        })
    }

    function confirmDeleteImage(id){
        $.confirm({
            title: 'Cảnh báo !!!',
            content: 'Bạn có chắc chắn muốn xóa ảnh này không?',
            animation: 'Rotate',
            closeAnimation: 'Rotate',
            buttons: {
                ok: {
                    btnClass: 'btn-red',
                    text: "Có",
                    action: function () {
                        DeleteImage(id);
                        $.alert("Đã xóa thành công");
                        $('#cbTotal').attr('checked', false);
                        $('#pagination').twbsPagination('destroy');
                    }
                },
                close: {
                    text: "Không",
                }
            }
        });
    }

    function DeleteImage(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteLinkImage", "PostManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                $("#img_" + id).remove();
                $("#warning").hide();
            },
            async: false,
        })
    }

    function CheckTotalImg() {
        var n = $(".imgDiv").length;
        if (n >= 10) {
            return false;
        }
        else {
            return true;
        }
    }

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPost').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function moreComments(id) {
        if (id == null || id == undefined || id == "") {
            alert("Error load comment");
            return;
        }

        timesViewMore++;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllCommentWithPagination", "PostManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                newsId: id,
                commentNumber: timesViewMore,
                commentSize: 2
            }),
            success: function (data) {
                if (data.success == true) {
                    $("#tmplContentPage").tmpl(data.data).appendTo("#commentlist");
                }
                else {
                }
            },
            async: false,
        });
    }

    function moreChildren(id) {
        if (id == null || id == undefined || id == "") {
            alert("Error load comment ");
            return;
        }

        timesViewMoreChild++;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllChildrenComment", "PostManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                objectLinkId: @Model.DetailNew.Id,
                parentId: id,
                commentNumber: timesViewMoreChild,
                commentSize: 2
            }),
            success: function (data) {
                if (data.success == true) {
                    $("#hide_"+id).show();
                    if(data.data.length<=0){
                        $("#read_"+id).hide();
                    }
                    $($("#replyComment_"+ id).parent()).remove();
                    $("#tmplContentChildrenComment").tmpl(data.data).appendTo("#childrenComment_" + id);
                }
                else {
                }
            },
            async: false,
        });
        $("#childrenComment_" + id).show();
    }

    function hideAll(id) {
        $("#childrenComment_" + id).empty();
        $("#hide_" + id).hide();
        $("#read_" + id).show();
        timesViewMoreChild=0;
    }

    function confirmDeleteCmtChild(id){
        $.confirm({
            title: 'Cảnh báo !!!',
            content: 'Bạn có chắc chắn muốn xóa bình luận này không?',
            animation: 'Rotate',
            closeAnimation: 'Rotate',
            buttons: {
                ok: {
                    btnClass: 'btn-red',
                    text: "Có",
                    action: function () {
                        deleteCmtChild(id);
                        $.alert("Đã xóa thành công");
                        $('#cbTotal').attr('checked', false);
                        $('#pagination').twbsPagination('destroy');
                    }
                },
                close: {
                    text: "Không",
                }
            }
        });
    }

    function deleteCmtChild(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteCmtChild", "PostManagement")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                $("#cmtChild_" + id).remove();
            },
            async: false,
        })
    }

    function clickCbCmt(id){
        var status="";
        if ($("#cbCmt_"+id).is(':checked')){
            status="1";
        }
        else
        {
            status="0";
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ClickCbCmt", "PostManagement")',
            data: {
                status: status,
                id :id
            },
            success: function (data) {
            },
            async: false,
        })
    }

</script>